.contenedor {
  overflow-x: hidden;
}

.card {
  max-width: 100%;
  margin: 15px;
  align-items: center;
}

img {
  max-width: 50%;
}

.card-deck {
  width: 100vw;
  height: 50%;
}

h5 {
  font-size: 15px;
}

p {
  font-size: 12px;
}
