<div class="container mt-5">
  <div class="Descripcion text-center">
    <h1>Descripción</h1>
  </div>

  <div class="Datos">
    <div class="nombre">
      <h2>Nombre:</h2>
      <p>Warren Kenneth Worthington III"</p>
    </div>
    <div class="Aparicion">
      <h2>Primera aparición:</h2>
      <p>X-Men #1 (September, 1963)</p>
    </div>
    <div class="Alias">
      <h2>Alias:</h2>
      <p>War", "Dark Angel", "Death", "Avenging Angel"</p>
    </div>
    <div class="Estadisticas">
      <h2>Estadísticas:</h2>
      <p>
        "intelligence": "63", "strength": "13", "speed": "58", "durability":
        "64", "power": "35", "combat": "42"
      </p>
    </div>
  </div>
</div>
