<div class="container mt-5">
  <div class="Descripcion text-center">
    <h1>Description</h1>
  </div>

  <div class="Informacion">
    <div class="imagen">
      <img [src]="DetailHero.image" alt="" />
    </div>

    <div class="Datos">
      <div class="nombre">
        <h2>Name:</h2>
        <p>{{ DetailHero.name }}</p>
      </div>
      <div class="Aparicion">
        <h2>First Appearance:</h2>
        <p>{{ DetailHero.FirstAppear }}</p>
      </div>
      <div class="Alias">
        <h2>Aliases:</h2>
        <p>{{ DetailHero.Alias }}</p>
      </div>
      <div class="Estadisticas">
        <h2>Powerstats:</h2>

        <ul>
          <li>
            Intelligence:
            {{ DetailHero.StatsI }}
          </li>
          <li>
            Strength:
            {{ DetailHero.StatsS }}
          </li>
          <li>
            Speed:
            {{ DetailHero.StatsSpeed }}
          </li>
          <li>
            Durability:
            {{ DetailHero.StatsD }}
          </li>
          <li>
            Power:
            {{ DetailHero.StatsPower }}
          </li>
          <li>
            Combat:
            {{ DetailHero.StatsCombat }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
